# PyCity Schools Analysis

 - The school district has 15 high schools; 7 district schools and 8 charter schools.
 - Each of the district schools has over 2,700 students while each of the charter schools has
     less than 2,300 students.
 - Overall passing rates for the district schools were less than 75% per school. Overall passing
     rates for the charter schools were greater than 94% per school.
 - In particular, average math scores were lower at the district schools (76.6%-77.3%) than at
     the charter schools (> 83%).

In [1]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# Files to Load
school_data_to_load = "Resources/schools_complete.csv"
student_data_to_load = "Resources/students_complete.csv"

# Read School and Student Data File and store into Pandas Data Frames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])
school_data_complete.head(10)

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635
5,5,Bryan Miranda,M,9th,Huang High School,94,94,0,District,2917,1910635
6,6,Sheena Carter,F,11th,Huang High School,82,80,0,District,2917,1910635
7,7,Nicole Baker,F,12th,Huang High School,96,69,0,District,2917,1910635
8,8,Michael Roth,M,10th,Huang High School,95,87,0,District,2917,1910635
9,9,Matthew Greene,M,10th,Huang High School,96,84,0,District,2917,1910635

# School District Summary

In [2]:
# Select the appropriate columns
school_data_complete=school_data_complete[['grade','school_name','reading_score','math_score','type','size','budget','Student ID']]
# school_data_complete.head()

In [3]:
# Select the unique school names
school_names = school_data_complete['school_name'].unique()
# school_names

In [4]:
# Count the number of schools
count_schools = len(school_names)
count_schools

15

In [5]:
# Count the total number of students
tot_students = school_data_complete['Student ID'].count()
tot_students

39170

In [6]:
# Get the total budget for all schools
tot_budget = school_data_complete['budget'].unique().sum()
tot_budget

24649428

In [7]:
# Get the average math score for all students
avg_math = school_data_complete['math_score'].sum() / tot_students
avg_math

78.98537145774827

In [8]:
# Get the average reading score for all students
avg_reading = school_data_complete['reading_score'].sum() / tot_students
avg_reading

81.87784018381414

In [9]:
# Total number of students passing math
ps_math = school_data_complete['math_score'] >= 70
#Total number of students passing math
pass_math = np.sum(ps_math)
pass_math

29370

In [10]:
# Total number of students passing reading
ps_read = school_data_complete['reading_score'] >= 70
#Total number of students passing reading
pass_reading = np.sum(ps_read)
pass_reading

33610

In [11]:
#Percent of students passing math
percent_math = pass_math/tot_students*100
percent_math

74.9808526933878

In [12]:
#Percent of students passing reading
percent_read = pass_reading/tot_students*100
percent_read

85.80546336482001

In [13]:
#Average percent of students passing math and reading
tot_rate = (percent_math + percent_read) / 2
tot_rate

80.39315802910392

In [14]:
# Create a dataframe with the above stats
dist_smry = {"Total Schools":[count_schools],
            "Total Students":[tot_students],
            "Total Budget":[tot_budget],
            "Average Math Score":[avg_math],
            "Average Reading Score":[avg_reading],
            "% Passing Math":[percent_math],
            "% Passing Reading":[percent_read],
            "% Overall Passing Rate":[tot_rate]
               }
dist_smry_df = pd.DataFrame(dist_smry)
dist_smry_df["Total Students"] = dist_smry_df["Total Students"].map("${:,}".format)
dist_smry_df["Total Budget"] = dist_smry_df["Total Budget"].map("${:,}".format)
dist_smry_df["Average Math Score"] = dist_smry_df["Average Math Score"].map("{:.1f}".format)
dist_smry_df["Average Reading Score"] = dist_smry_df["Average Reading Score"].map("{:.1f}".format)
dist_smry_df["% Passing Math"] = dist_smry_df["% Passing Math"].map("{:.1f}".format)
dist_smry_df["% Passing Reading"] = dist_smry_df["% Passing Reading"].map("{:.1f}".format)
dist_smry_df["% Overall Passing Rate"] = dist_smry_df["% Overall Passing Rate"].map("{:.1f}".format)
dist_smry_df

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
0,15,"$39,170","$24,649,428",79.0,81.9,75.0,85.8,80.4

# School Summaries

In [15]:
# Determine the school type
sch_type = school_data.set_index(["school_name"])["type"]
sch_type

school_name
Huang High School        District
Figueroa High School     District
Shelton High School       Charter
Hernandez High School    District
Griffin High School       Charter
Wilson High School        Charter
Cabrera High School       Charter
Bailey High School       District
Holden High School        Charter
Pena High School          Charter
Wright High School        Charter
Rodriguez High School    District
Johnson High School      District
Ford High School         District
Thomas High School        Charter
Name: type, dtype: object

In [16]:
# Count the number of students in each school
count_per_school = school_data_complete['school_name'].value_counts()
count_per_school

Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: school_name, dtype: int64

In [17]:
# Average budget per school
bdgt_per_school = school_data_complete.groupby(['school_name']).mean()['budget']
bdgt_student_per_school = bdgt_per_school / count_per_school
bdgt_student_per_school

Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

In [18]:
# Average math score per school
avg_mscore = school_data_complete.groupby(["school_name"]).mean()["math_score"]
avg_mscore

school_name
Bailey High School       77.048432
Cabrera High School      83.061895
Figueroa High School     76.711767
Ford High School         77.102592
Griffin High School      83.351499
Hernandez High School    77.289752
Holden High School       83.803279
Huang High School        76.629414
Johnson High School      77.072464
Pena High School         83.839917
Rodriguez High School    76.842711
Shelton High School      83.359455
Thomas High School       83.418349
Wilson High School       83.274201
Wright High School       83.682222
Name: math_score, dtype: float64

In [19]:
# Average reading score per school
avg_rscore = school_data_complete.groupby(["school_name"]).mean()["reading_score"]
avg_rscore

school_name
Bailey High School       81.033963
Cabrera High School      83.975780
Figueroa High School     81.158020
Ford High School         80.746258
Griffin High School      83.816757
Hernandez High School    80.934412
Holden High School       83.814988
Huang High School        81.182722
Johnson High School      80.966394
Pena High School         84.044699
Rodriguez High School    80.744686
Shelton High School      83.725724
Thomas High School       83.848930
Wilson High School       83.989488
Wright High School       83.955000
Name: reading_score, dtype: float64

In [20]:
# Passing math by school
math_passing = school_data_complete[(school_data_complete['math_score'] >= 70)]
# math_passing.head()

In [21]:
# Passing reading by school
reading_passing = school_data_complete[(school_data_complete['reading_score'] >= 70)]
# reading_passing.head()

In [22]:
# Percent passing math or reading by school
math_pass_per_school = math_passing.groupby(['school_name']).count()['Student ID'] / count_per_school*100
# math_pass_per_school
reading_pass_per_school = reading_passing.groupby(['school_name']).count()['Student ID'] / count_per_school*100
# reading_pass_per_school

In [23]:
# Overall percent passing by school
overall_passing = (math_pass_per_school + reading_pass_per_school) / 2.0
# overall_passing

In [24]:
# Create dataframe
school_smry_df = pd.DataFrame({"School Type": sch_type,
               "Total Students": count_per_school,
               "Total School Budget": bdgt_per_school,
               "Per Student Budget": bdgt_student_per_school,
               "Average Math Score": avg_mscore,
               "Average Reading Score": avg_rscore,
               "% Passing Math": math_pass_per_school,
               "% Passing Reading": reading_pass_per_school,
               "% Overall Passing Rate": overall_passing
               })
# Format dataframe
school_smry_df["Total School Budget"] = school_smry_df["Total School Budget"].map("${:,.0f}".format)
school_smry_df["Total Students"] = school_smry_df["Total Students"].map("{:,}".format)
school_smry_df["Per Student Budget"] = school_smry_df["Per Student Budget"].map("${:.0f}".format)
school_smry_df["Average Math Score"] = school_smry_df["Average Math Score"].map("{:,.1f}".format)
school_smry_df["Average Reading Score"] = school_smry_df["Average Reading Score"].map("{:,.1f}".format)
school_smry_df["% Passing Math"] = school_smry_df["% Passing Math"].map("{:,.1f}".format)
school_smry_df["% Passing Reading"] = school_smry_df["% Passing Reading"].map("{:,.1f}".format)
school_smry_df["% Overall Passing Rate"] = school_smry_df["% Overall Passing Rate"].map("{:,.1f}".format)
school_smry_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Bailey High School,District,"4,976","$3,124,928",$628,77.0,81.0,66.7,81.9,74.3
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.1,84.0,94.1,97.0,95.6
Figueroa High School,District,"2,949","$1,884,411",$639,76.7,81.2,66.0,80.7,73.4
Ford High School,District,"2,739","$1,763,916",$644,77.1,80.7,68.3,79.3,73.8
Griffin High School,Charter,"1,468","$917,500",$625,83.4,83.8,93.4,97.1,95.3
Hernandez High School,District,"4,635","$3,022,020",$652,77.3,80.9,66.8,80.9,73.8
Holden High School,Charter,427,"$248,087",$581,83.8,83.8,92.5,96.3,94.4
Huang High School,District,"2,917","$1,910,635",$655,76.6,81.2,65.7,81.3,73.5
Johnson High School,District,"4,761","$3,094,650",$650,77.1,81.0,66.1,81.2,73.6
Pena High School,Charter,962,"$585,858",$609,83.8,84.0,94.6,95.9,95.3
Rodriguez High School,District,"3,999","$2,547,363",$637,76.8,80.7,66.4,80.2,73.3
Shelton High School,Charter,"1,761","$1,056,600",$600,83.4,83.7,93.9,95.9,94.9
Thomas High School,Charter,"1,635","$1,043,130",$638,83.4,83.8,93.3,97.3,95.3
Wilson High School,Charter,"2,283","$1,319,574",$578,83.3,84.0,93.9,96.5,95.2
Wright High School,Charter,"1,800","$1,049,400",$583,83.7,84.0,93.3,96.6,95.0

# Student Budget by School

In [25]:
# Sort data by per student budget amounts
cost_per_student = school_smry_df.sort_values('Per Student Budget')
cost_per_student

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Wilson High School,Charter,"2,283","$1,319,574",$578,83.3,84.0,93.9,96.5,95.2
Holden High School,Charter,427,"$248,087",$581,83.8,83.8,92.5,96.3,94.4
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.1,84.0,94.1,97.0,95.6
Wright High School,Charter,"1,800","$1,049,400",$583,83.7,84.0,93.3,96.6,95.0
Shelton High School,Charter,"1,761","$1,056,600",$600,83.4,83.7,93.9,95.9,94.9
Pena High School,Charter,962,"$585,858",$609,83.8,84.0,94.6,95.9,95.3
Griffin High School,Charter,"1,468","$917,500",$625,83.4,83.8,93.4,97.1,95.3
Bailey High School,District,"4,976","$3,124,928",$628,77.0,81.0,66.7,81.9,74.3
Rodriguez High School,District,"3,999","$2,547,363",$637,76.8,80.7,66.4,80.2,73.3
Thomas High School,Charter,"1,635","$1,043,130",$638,83.4,83.8,93.3,97.3,95.3
Figueroa High School,District,"2,949","$1,884,411",$639,76.7,81.2,66.0,80.7,73.4
Ford High School,District,"2,739","$1,763,916",$644,77.1,80.7,68.3,79.3,73.8
Johnson High School,District,"4,761","$3,094,650",$650,77.1,81.0,66.1,81.2,73.6
Hernandez High School,District,"4,635","$3,022,020",$652,77.3,80.9,66.8,80.9,73.8
Huang High School,District,"2,917","$1,910,635",$655,76.6,81.2,65.7,81.3,73.5

# Passing Rate by School

In [26]:
# Sort data by overall passing rates
passing_rate = school_smry_df.sort_values('% Overall Passing Rate')
passing_rate

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing Rate
Rodriguez High School,District,"3,999","$2,547,363",$637,76.8,80.7,66.4,80.2,73.3
Figueroa High School,District,"2,949","$1,884,411",$639,76.7,81.2,66.0,80.7,73.4
Huang High School,District,"2,917","$1,910,635",$655,76.6,81.2,65.7,81.3,73.5
Johnson High School,District,"4,761","$3,094,650",$650,77.1,81.0,66.1,81.2,73.6
Ford High School,District,"2,739","$1,763,916",$644,77.1,80.7,68.3,79.3,73.8
Hernandez High School,District,"4,635","$3,022,020",$652,77.3,80.9,66.8,80.9,73.8
Bailey High School,District,"4,976","$3,124,928",$628,77.0,81.0,66.7,81.9,74.3
Holden High School,Charter,427,"$248,087",$581,83.8,83.8,92.5,96.3,94.4
Shelton High School,Charter,"1,761","$1,056,600",$600,83.4,83.7,93.9,95.9,94.9
Wright High School,Charter,"1,800","$1,049,400",$583,83.7,84.0,93.3,96.6,95.0
Wilson High School,Charter,"2,283","$1,319,574",$578,83.3,84.0,93.9,96.5,95.2
Griffin High School,Charter,"1,468","$917,500",$625,83.4,83.8,93.4,97.1,95.3
Pena High School,Charter,962,"$585,858",$609,83.8,84.0,94.6,95.9,95.3
Thomas High School,Charter,"1,635","$1,043,130",$638,83.4,83.8,93.3,97.3,95.3
Cabrera High School,Charter,"1,858","$1,081,356",$582,83.1,84.0,94.1,97.0,95.6

# Math Scores by Grade

In [27]:
# Aggregate grade levels
grade9 = school_data_complete[(school_data_complete["grade"] == "9th")]
grade10 = school_data_complete[(school_data_complete["grade"] == "10th")]
grade11 = school_data_complete[(school_data_complete["grade"] == "11th")]
grade12 = school_data_complete[(school_data_complete["grade"] == "12th")]

In [28]:
# Average math scores by school and grade
mscores_grade9 = grade9.groupby(["school_name"]).mean()["math_score"]
mscores_grade10 = grade10.groupby(["school_name"]).mean()["math_score"]
mscores_grade11 = grade11.groupby(["school_name"]).mean()["math_score"]
mscores_grade12 = grade12.groupby(["school_name"]).mean()["math_score"]
# mscores_grade12

In [29]:
# Create a dataframe for the average math scores
mscores_df = pd.DataFrame({"Ninth Grade": mscores_grade9, "Tenth Grade": mscores_grade10,
                           "Eleventh Grade": mscores_grade11, "Twelfth Grade": mscores_grade12})
# Format dataframe
mscores_df["Ninth Grade"] = mscores_df["Ninth Grade"].map("{:,.1f}".format)
mscores_df["Tenth Grade"] = mscores_df["Tenth Grade"].map("{:,.1f}".format)
mscores_df["Eleventh Grade"] = mscores_df["Eleventh Grade"].map("{:,.1f}".format)
mscores_df["Twelfth Grade"] = mscores_df["Twelfth Grade"].map("{:,.1f}".format)
mscores_df.index.name = None
mscores_df

                      Ninth Grade Tenth Grade Eleventh Grade Twelfth Grade
Bailey High School           77.1        77.0           77.5          76.5
Cabrera High School          83.1        83.2           82.8          83.3
Figueroa High School         76.4        76.5           76.9          77.2
Ford High School             77.4        77.7           76.9          76.2
Griffin High School          82.0        84.2           83.8          83.4
Hernandez High School        77.4        77.3           77.1          77.2
Holden High School           83.8        83.4           85.0          82.9
Huang High School            77.0        75.9           76.4          77.2
Johnson High School          77.2        76.7           77.5          76.9
Pena High School             83.6        83.4           84.3          84.1
Rodriguez High School        76.9        76.6           76.4          77.7
Shelton High School          83.4        82.9           83.4          83.8
Thomas High School           83.6        83.1           83.5          83.5
Wilson High School           83.1        83.7           83.2          83.0
Wright High School           83.3        84.0           83.8          83.6

# Reading Scores by Grade

In [30]:
# Average reading scores by school and grade
rscores_grade9 = grade9.groupby(["school_name"]).mean()["reading_score"]
rscores_grade10 = grade10.groupby(["school_name"]).mean()["reading_score"]
rscores_grade11 = grade11.groupby(["school_name"]).mean()["reading_score"]
rscores_grade12 = grade12.groupby(["school_name"]).mean()["reading_score"]
# rscores_grade12

In [31]:
# Create a dataframe for the average reading scores
rscores_df = pd.DataFrame({"Ninth Grade": rscores_grade9, "Tenth Grade": rscores_grade10,
                           "Eleventh Grade": rscores_grade11, "Twelfth Grade": rscores_grade12})
# Format dataframe
rscores_df["Ninth Grade"] = rscores_df["Ninth Grade"].map("{:,.1f}".format)
rscores_df["Tenth Grade"] = rscores_df["Tenth Grade"].map("{:,.1f}".format)
rscores_df["Eleventh Grade"] = rscores_df["Eleventh Grade"].map("{:,.1f}".format)
rscores_df["Twelfth Grade"] = rscores_df["Twelfth Grade"].map("{:,.1f}".format)
rscores_df.index.name = None
rscores_df

                      Ninth Grade Tenth Grade Eleventh Grade Twelfth Grade
Bailey High School           81.3        80.9           80.9          80.9
Cabrera High School          83.7        84.3           83.8          84.3
Figueroa High School         81.2        81.4           80.6          81.4
Ford High School             80.6        81.3           80.4          80.7
Griffin High School          83.4        83.7           84.3          84.0
Hernandez High School        80.9        80.7           81.4          80.9
Holden High School           83.7        83.3           83.8          84.7
Huang High School            81.3        81.5           81.4          80.3
Johnson High School          81.3        80.8           80.6          81.2
Pena High School             83.8        83.6           84.3          84.6
Rodriguez High School        81.0        80.6           80.9          80.4
Shelton High School          84.1        83.4           84.4          82.8
Thomas High School           83.7        84.3           83.6          83.8
Wilson High School           83.9        84.0           83.8          84.3
Wright High School           83.8        83.8           84.2          84.1